.clients {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.clients__heading {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.02em;
}

@media (max-width: 768px) {
  .clients__heading {
    font-size: 2rem;
  }
}

.clients__heading__highlight {
  color: #a78bfa;
}

.clients__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1023px) {
  .clients__container {
    margin-top: 2.5rem;
  }
}

.clients__cards_wrapper {
  height: 50vh;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

@media (min-width: 768px) {
  .clients__cards_wrapper {
    height: 30rem;
  }
}
