.recent_projects {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.recent_projects__heading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .recent_projects__heading {
    font-size: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .recent_projects__heading {
    font-size: 3rem;
  }
}

.recent_projects__heading__highlight {
  color: #a78bfa;
}

.recent_projects__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 4rem;
  margin-top: 2.5rem;
}

.recent_projects__card {
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

@media (min-width: 640px) {
  .recent_projects__card {
    width: 24rem;
  }
}

@media (min-width: 1024px) {
  .recent_projects__card {
    min-height: 32.5rem;
  }
}

.recent_projects__image_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  overflow: hidden;
  height: 20vh;
  margin-bottom: 2.5rem;
}

@media (min-width: 640px) {
  .recent_projects__image_container {
    width: 24rem;
  }
}

@media (min-width: 1024px) {
  .recent_projects__image_container {
    height: 30vh;
  }
}

.recent_projects__image_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #13162d;
}

@media (min-width: 1024px) {
  .recent_projects__image_wrapper {
    border-radius: 1.5rem;
  }
}

.recent_projects__image {
  z-index: 10;
  position: absolute;
  bottom: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.recent_projects__title {
  font-weight: 700;
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media (min-width: 768px) {
  .recent_projects__title {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .recent_projects__title {
    font-size: 1.5rem;
  }
}

.recent_projects__description {
  font-weight: 300;
  font-size: 0.875rem;
  color: #bec1dd;
  margin: 1vh 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (min-width: 768px) {
  .recent_projects__description {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .recent_projects__description {
    font-size: 1.25rem;
    font-weight: 400;
  }
}

.recent_projects__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
}

.recent_projects__icon_container {
  display: flex;
  align-items: center;
}

.recent_projects__icon_item {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  background-color: black;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .recent_projects__icon_item {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.recent_projects__link_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent_projects__link_text {
  display: flex;
  font-size: 0.875rem;
  color: #cbacf9;
}

@media (min-width: 768px) {
  .recent_projects__link_text {
    font-size: 0.75rem;
  }
}

@media (min-width: 1024px) {
  .recent_projects__link_text {
    font-size: 1.25rem;
  }
}

.recent_projects__link_icon {
  margin-left: 0.75rem;
  color: #cbacf9;
}

/* Icon Image */
.recent_projects__icon_image {
  padding: 0.5rem;
}
