.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 4rem;
  margin-top: 2.5rem;
}

.projectCard {
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

@media (min-width: 640px) {
  .projectCard {
    width: 24rem;
  }
}

@media (min-width: 1024px) {
  .projectCard {
    min-height: 32.5rem;
  }
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  overflow: hidden;
  height: 20vh;
  margin-bottom: 2.5rem;
}

@media (min-width: 640px) {
  .imageContainer {
    width: 24rem;
  }
}

@media (min-width: 1024px) {
  .imageContainer {
    height: 30vh;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #13162d;
}

@media (min-width: 1024px) {
  .imageWrapper {
    border-radius: 1.5rem;
  }
}

.projectImage {
  z-index: 10;
  position: absolute;
  bottom: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media (min-width: 768px) {
  .title {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 1.5rem;
  }
}

.description {
  font-weight: 300;
  font-size: 0.875rem;
  color: #bec1dd;
  margin: 1vh 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (min-width: 768px) {
  .description {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .description {
    font-size: 1.25rem;
    font-weight: 400;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.iconItem {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  background-color: black;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .iconItem {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.linkSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkText {
  display: flex;
  font-size: 0.875rem;
  color: #cbacf9;
}

@media (min-width: 768px) {
  .linkText {
    font-size: 0.75rem;
  }
}

@media (min-width: 1024px) {
  .linkText {
    font-size: 1.25rem;
  }
}

.linkIcon {
  margin-left: 0.75rem;
  color: #cbacf9;
}
