/* Block: infinite-cards */
.infiniteCards {
  position: relative;
  z-index: 20;
  width: 100vw;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

/* Element: infinite-cards__scroller */
.infiniteCards__scroller {
  display: flex;
  min-width: 100%;
  flex-shrink: 0;
  gap: 4rem;
  padding: 1rem 0;
  width: max-content;
  flex-wrap: nowrap;
}

/* Modifier: infinite-cards__scroller_animate */
.infiniteCards__scroller_animate {
  animation: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50%));
  }
}

/* Modifier: infinite-cards__scroller_pausable */
.infiniteCards__scroller_pausable:hover {
  animation-play-state: paused;
}

/* Element: infinite-cards__item */
.infiniteCards__item {
  width: 90vw;
  max-width: 100%;
  position: relative;
  border-radius: 1rem;
  border: 1px solid rgb(30, 41, 59);
  border-bottom: none;
  flex-shrink: 0;
  padding: 1.25rem;
  background: rgb(4, 7, 29);
  background: linear-gradient(
    90deg,
    rgba(4, 7, 29, 1) 0%,
    rgba(12, 14, 35, 1) 100%
  );
}

@media (min-width: 768px) {
  .infiniteCards__item {
    width: 60vw;
    padding: 4rem;
  }
}

/* Element: infinite-cards__blockquote */
.infiniteCards__blockquote {
  position: relative;
}

/* Element: infinite-cards__hidden-element */
.infiniteCards__hiddenElement {
  user-select: none;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  left: -0.125rem;
  top: -0.125rem;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
}

/* Element: infinite-cards__quote */
.infiniteCards__quote {
  position: relative;
  z-index: 20;
  font-size: 0.875rem;
  line-height: 1.6;
  color: white;
  font-weight: 400;
}

@media (min-width: 768px) {
  .infiniteCards__quote {
    font-size: 1.125rem;
  }
}

/* Element: infinite-cards__author-section */
.infiniteCards__authorSection {
  position: relative;
  z-index: 20;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Element: infinite-cards__author-info */
.infiniteCards__authorInfo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* Element: infinite-cards__author-name */
.infiniteCards__authorName {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.6;
  color: white;
}

/* Element: infinite-cards__author-title */
.infiniteCards__authorTitle {
  font-size: 0.875rem;
  line-height: 1.6;
  color: rgb(219, 219, 222);
  font-weight: 400;
}
