.container {
  padding-bottom: 5rem;
  padding-top: 9rem;
}

.backgroundGrid {
  height: 100vh;
  width: 100%;
  background-color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  .backgroundGrid {
    background-color: rgb(17, 24, 39);
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px
    );
  }
}

.gradientMask {
  position: absolute;
  pointer-events: none;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  mask-image: radial-gradient(ellipse at center, transparent 20%, black);
}

@media (prefers-color-scheme: dark) {
  .gradientMask {
    background-color: rgb(17, 24, 39);
  }
}

.contentWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 5rem;
  z-index: 10;
}

.contentBox {
  max-width: 89vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .contentBox {
    max-width: 42rem;
  }
}

@media (min-width: 1024px) {
  .contentBox {
    max-width: 60vw;
  }
}

.tagline {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.75rem;
  text-align: center;
  color: #dbeafe;
  max-width: 20rem;
}

.description {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .description {
    letter-spacing: 0.05em;
    font-size: 1.125rem;
  }
}

@media (min-width: 1024px) {
  .description {
    font-size: 1.5rem;
  }
}
