.container {
  padding: 5rem 0;
  width: 100%;
}

.gridContainer {
  width: 100%;
  margin-top: 3rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr;
}

@media (min-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .cardContent {
    padding: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .cardContent {
    flex-direction: row;
    align-items: center;
    padding: 2.5rem;
  }
}

.image {
  width: 4rem;
}

@media (min-width: 768px) {
  .image {
    width: 5rem;
  }
}

@media (min-width: 1024px) {
  .image {
    width: 8rem;
  }
}

.textContent {
  margin-left: 0;
}

@media (min-width: 1024px) {
  .textContent {
    margin-left: 1.25rem;
  }
}

.title {
  text-align: start;
  font-size: 1.25rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}

.company {
  text-align: start;
  color: rgba(255, 255, 255, 0.7);
}

.description {
  text-align: start;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 0.75rem;
  font-weight: 600;
}
