.footer {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.footer__grid_container {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -18rem;
  min-height: 24rem;
}

.footer__grid_image {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.footer__main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__heading {
  line-height: 1.2;
  font-weight: 700;
  font-size: 2.25rem;
}

@media (min-width: 1024px) {
  .footer__heading {
    max-width: 45vw;
  }
}

.footer__heading__highlight {
  color: #a78bfa;
}

.footer__description {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .footer__description {
    margin-top: 2.5rem;
  }
}

.footer__bottom_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .footer__bottom_container {
    flex-direction: row;
  }
}

.footer__copyright_text {
  font-size: 0.875rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .footer__copyright_text {
    font-size: 1rem;
    font-weight: 400;
  }
}

.footer__social_container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .footer__social_container {
    gap: 0.75rem;
  }
}

.footer__social_icon {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
