/* Block: moving-border-button */
.movingBorderButton {
  background-color: transparent;
  position: relative;
  font-size: 1.25rem;
  padding: 1px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .movingBorderButton {
    grid-column: span 2;
    grid-row: span 1;
  }
}

/* Element: moving-border-button__border-container */
.movingBorderButton__borderContainer {
  position: absolute;
  inset: 0;
}

/* Element: moving-border-button__border-gradient */
.movingBorderButton__borderGradient {
  height: 5rem;
  width: 5rem;
  opacity: 0.8;
  background: radial-gradient(#cbacf9 40%, transparent 60%);
}

/* Element: moving-border-button__content */
.movingBorderButton__content {
  position: relative;
  background-color: rgba(15, 23, 42, 0);
  border: 1px solid rgb(30, 41, 59);
  backdrop-filter: blur(20px);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Block: moving-border */
.movingBorder__svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Element: moving-border__indicator */
.movingBorder__indicator {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
